<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="csrf-token" content="{{ csrf_token()} }">-->

    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">

    <title>Admin Panel</title>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <a id="id-navbar-username"></a>
        <a>with roles:</a>
        <a id="id-navbar-roles"></a>
    </div>
    <form class="form-inline">
        <a class="text-secondary" href="/authorization/logout">Sing out</a>
    </form>
</nav>

<div>
    <div class="row">
    <!--    Кнопки боковой панели навигации-->
        <div class="col-2">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a id="admin-view-button" class="nav-link active" data-toggle="pill"
                   href="#admin-view" role="tab" aria-controls="admin-view" aria-selected="true">Admin</a>
                <a id="user-view-button" class="nav-link" data-toggle="pill"
                   href="#user-view" role="tab" aria-controls="user-view" aria-selected="false">User</a>
            </div>
        </div>

    <!--    Views боковой панели навигации-->
        <div class="col bg-light tab-content">

    <!--        View кнопка "Admin"-->
            <div id="admin-view" class="tab-pane fade show active" role="tabpanel"
                 aria-labelledby="admin-view-button">

                <h1>Admin panel</h1>

    <!--            Кнопки центральной панели навигации-->
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <a id="users-table-button" class="nav-item nav-link active" data-toggle="tab"
                           href="#users-table-view" role="tab" aria-controls="users-table-view" aria-selected="true"
                        >Users table</a>
                        <a id="new-user-button" class="nav-item nav-link" data-toggle="tab"
                           href="#new-user-view" role="tab" aria-controls="new-user-view" aria-selected="false"
                        >New User</a>
                    </div>
                </nav>

                <div class="tab-content">

    <!--                View кнопка "Users table"-->
                    <div id="users-table-view" class="tab-pane fade show active" role="tabpanel"
                         aria-labelledby="users-table-button">

                        <div class="card">
                            <div class="card-header">
                                <h4>All users</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="id-all-users-table-tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>

<!--                        Edit modal-->
                        <div id="id-edit-modal" class="modal fade" role="dialog" aria-hidden="true"
                             aria-labelledby="id-edit-form" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                type="button">
                                        </button>
                                    </div>
                                    <form id="id-edit-form">
                                        <div class="modal-body text-center pt-3">
                                            <div class="container-fluid align-middle w-50">
                                                <label for="id-edit-id"
                                                       class="form-label text-center h6 font-weight-bold">ID</label>
                                                <input id="id-edit-id" class="form-control" name="id"
                                                       aria-describedby="basic-addon1" type="text" disabled>

                                                <label for="id-edit-firstName"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    First Name</label>
                                                <input id="id-edit-firstName" class="form-control" name="first_name"
                                                       aria-describedby="basic-addon1" type="text"
                                                       required placeholder="first name">

                                                <label for="id-edit-lastName"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Last Name</label>
                                                <input id="id-edit-lastName" class="form-control" name="last_name"
                                                       aria-describedby="basic-addon1" type="text"
                                                       required placeholder="last name">

                                                <label for="id-edit-age"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Age</label>
                                                <input id="id-edit-age" class="form-control" name="age"
                                                       aria-describedby="basic-addon1" type="number"
                                                       required placeholder="age">

                                                <label for="id-edit-email"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Email</label>
                                                <input id="id-edit-email" class="form-control" name="email"
                                                       aria-describedby="basic-addon1" type="text"
                                                       required placeholder="email">

                                                <label for="id-edit-password"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Password</label>
                                                <input id="id-edit-password" class="form-control" name="password"
                                                       aria-describedby="basic-addon1" type="password"
                                                       required placeholder="********">

                                                <label for="id-edit-roles"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Role</label>
                                                <select id="id-edit-roles" class="form-control" name="roles"
                                                        multiple required size="2">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="id-edit-modal-button-close" class="btn btn-secondary"
                                                    data-dismiss="modal" type="button">Close
                                            </button>
                                            <button class="btn btn-primary" type="submit">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

<!--                        Delete modal-->
                        <div id="id-delete-modal" class="modal fade" role="dialog" aria-hidden="true"
                             aria-labelledby="id-delete-form" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete</h5>
                                        <button class="close" aria-label="Close" data-dismiss="modal"
                                                type="button">
                                        </button>
                                    </div>
                                    <form id="id-delete-form">
                                        <div class="modal-body text-center pt-3">
                                            <div class="container-fluid align-middle w-50">

                                                <label for="id-delete-id"
                                                       class="form-label text-center h6 font-weight-bold">ID</label>
                                                <input id="id-delete-id" class="form-control" name="id"
                                                       aria-describedby="basic-addon1" type="number" disabled>

                                                <label for="id-delete-firstName"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    First Name</label>
                                                <input id="id-delete-firstName" class="form-control" name="first_name"
                                                       aria-describedby="basic-addon1" type="text" disabled>

                                                <label for="id-delete-lastName"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Last Name</label>
                                                <input id="id-delete-lastName" class="form-control" name="last_name"
                                                       aria-describedby="basic-addon1" type="text" disabled>

                                                <label for="id-delete-age"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Age</label>
                                                <input id="id-delete-age" class="form-control" name="age"
                                                       aria-describedby="basic-addon1" type="number" disabled>

                                                <label for="id-delete-email"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Email</label>
                                                <input id="id-delete-email" class="form-control" name="email"
                                                       aria-describedby="basic-addon1" type="text" disabled>

                                                <label for="id-delete-roles"
                                                       class="form-label text-center pt-3 h6 font-weight-bold">
                                                    Role</label>
                                                <select id="id-delete-roles" class="form-control" name="roles"
                                                        disabled multiple required size="2">
                                                </select>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="id-delete-modal-button-close" class="btn btn-secondary"
                                                    data-dismiss="modal" type="button">Close
                                            </button>
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

    <!--                View кнопка "New User"-->
                    <div id="new-user-view" class="tab-pane fade" role="tabpanel"
                         aria-labelledby="new-user-button" typeof="submit">

                        <div class="card">

                            <h4 class="card-header">Add new user</h4>

                            <div class="container col-sm-5 card-body">
                                <form id="id-new-user-form" class="form-group align-items-center w-50 mx-auto">
                                    <div class="form-group">
                                        <label for="id-new-first-name" class="font-weight-bold">First Name</label>
                                        <input id="id-new-first-name" name="first_name" type="text"
                                               class="form-control form-control-sm" placeholder="first name">
                                    </div>
                                    <div class="form-group">
                                        <label for="id-new-last-name" class="font-weight-bold">Last Name</label>
                                        <input id="id-new-last-name" name="last_name" type="text"
                                               class="form-control form-control-sm" placeholder="last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="id-new-age" class="font-weight-bold">Age</label>
                                        <input id="id-new-age" name="age" type="text"
                                               class="form-control form-control-sm" placeholder="age">
                                    </div>
                                    <div class="form-group">
                                        <label for="id-new-email" class="font-weight-bold">Email</label>
                                        <input id="id-new-email" name="email" type="text"
                                               class="form-control form-control-sm" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="id-new-password" class="font-weight-bold">Password</label>
                                        <input id="id-new-password" name="password" type="text"
                                               class="form-control form-control-sm" placeholder="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="id-new-roles" class="font-weight-bold">Role</label>
                                        <select id="id-new-roles" class="form-control form-control-sm" name="roles"
                                                multiple required size="2">
                                        </select>
                                    </div>
                                    <div class="mx-auto pt-4">
                                        <button id="id-add-user-button" class="btn btn-success" type="submit" >
                                            Add new user
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--        View кнопка "User"-->
            <div id="user-view" class="tab-pane fade" role="tabpanel" aria-labelledby="user-view-button">
                <h1>User information-panel</h1>

                <div class="card">
                    <div class="card-header">
                        <h4>About user</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="id-user-table-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>-->

<!-- Вариант 2: Отдельные JS для Popper и Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

<script src="/js/processingModalWindows.js"></script>
<script src="/js/processingAdminPage.js"></script>

</body>
</html>