<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Admin Panel</title>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <a id="id-navbar-username"></a>
        <a>with roles:</a>
        <a id="id-navbar-roles"></a>
    </div>
    <form class="form-inline">
        <a class="text-secondary" href="/authorization/logout">Sing out</a>
    </form>
</nav>

<div>
    <div class="row">
    <!--    Кнопки боковой панели навигации-->
        <div class="col-2">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a id="admin-view-button" class="nav-link active" data-toggle="pill"
                   href="#admin-view" role="tab" aria-controls="admin-view" aria-selected="true">Admin</a>
                <a id="user-view-button" class="nav-link" data-toggle="pill"
                   href="#user-view" role="tab" aria-controls="user-view" aria-selected="false">User</a>
            </div>
        </div>

    <!--    Views боковой панели навигации-->
        <div class="col bg-light tab-content">

    <!--        View кнопка "Admin"-->
            <div id="admin-view"
                 aria-labelledby="admin-view-button"
                 class="tab-pane fade show active"
                 role="tabpanel"
            >
                <h1>Admin panel</h1>

    <!--            Кнопки центральной панели навигации-->
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link active" id="users-table-button" data-toggle="tab"
                           href="#users-table-view" role="tab" aria-controls="users-table-view" aria-selected="true"
                        >Users table</a>
                        <a class="nav-item nav-link" id="new-user-button" data-toggle="tab"
                           href="#new-user-view" role="tab" aria-controls="new-user-view" aria-selected="false"
                        >New User</a>
                    </div>
                </nav>

                <div class="tab-content">

    <!--                View кнопка "Users table"-->
                    <div id="users-table-view"
                         aria-labelledby="users-table-button"
                         class="tab-pane fade show active"
                         role="tabpanel"
                    >
                        <div class="card">
                            <div class="card-header">
                                <h4>All users</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="id-all-users-table-tbody">

<!--    &lt;!&ndash;                                    View modal edit&ndash;&gt;-->
<!--                                        <div th:id="${'edit-modal' + user.id}"-->
<!--                                             class="modal fade"-->
<!--                                             tabindex="-1"-->
<!--                                             role="dialog"-->
<!--                                             aria-labelledby="edit-modal-label"-->
<!--                                             aria-hidden="true"-->
<!--                                        >-->
<!--                                            <div class="modal-dialog" role="dialog">-->
<!--                                                <form th:action="@{/admin/update(id=${user.id})}"-->
<!--                                                      th:method="POST"-->
<!--                                                      th:object="${user}"-->
<!--                                                >-->
<!--                                                    <div class="modal-content">-->
<!--                                                        <div class="modal-header">-->
<!--                                                            <h5 id="edit-modal-label" class="modal-title">Edit user</h5>-->
<!--                                                            <button type="button" class="close"-->
<!--                                                                    data-dismiss="modal" aria-label="Close">-->
<!--                                                                <span aria-hidden="true">&times;</span>-->
<!--                                                            </button>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-body">-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-id" class="font-weight-bold">ID</label>-->
<!--                                                                <input id="edit-id" name="id" type="text" th:value="*{id}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-firstName" class="font-weight-bold">First Name</label>-->
<!--                                                                <input id="edit-firstName" name="firstName" type="text" th:value="*{firstName}"-->
<!--                                                                       class="form-control form-control-sm">-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-lastName" class="font-weight-bold">Last Name</label>-->
<!--                                                                <input id="edit-lastName" name="lastName" type="text" th:value="*{lastName}"-->
<!--                                                                       class="form-control form-control-sm">-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-age" class="font-weight-bold">Age</label>-->
<!--                                                                <input id="edit-age" name="age" type="text" th:value="*{age}"-->
<!--                                                                       class="form-control form-control-sm">-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-email" class="font-weight-bold">Email</label>-->
<!--                                                                <input id="edit-email" name="username" type="text" th:value="*{username}"-->
<!--                                                                       class="form-control form-control-sm">-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-password" class="font-weight-bold">Password</label>-->
<!--                                                                <input id="edit-password" name="password" type="text" th:field="*{password}"-->
<!--                                                                       class="form-control form-control-sm" >-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="edit-roles" class="font-weight-bold">Role</label>-->
<!--                                                                <select id="edit-roles" multiple class="form-control form-control-sm" name="roles">-->
<!--                                                                    <option th:each="role : ${roles}"-->
<!--                                                                            th:text="${#strings.replace(role.name,'ROLE_','')}"-->
<!--                                                                            th:value="${role.id}"-->
<!--                                                                    >roles</option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-footer">-->
<!--                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                            <button type="submit" class="btn btn-primary">Edit</button>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--    &lt;!&ndash;                                    View modal delete&ndash;&gt;-->
<!--                                        <div th:id="${'delete-modal' + user.id}"-->
<!--                                             class="modal fade"-->
<!--                                             tabindex="-1"-->
<!--                                             role="dialog"-->
<!--                                             aria-labelledby="delete-modal-label"-->
<!--                                             aria-hidden="true"-->
<!--                                        >-->
<!--                                            <div class="modal-dialog" role="dialog">-->
<!--                                                <form th:action="@{/admin/delete(id=${user.id})}"-->
<!--                                                      th:method="POST"-->
<!--                                                      th:object="${user}"-->
<!--                                                >-->
<!--                                                    <div class="modal-content">-->
<!--                                                        <div class="modal-header">-->
<!--                                                            <h5 id="delete-modal-label" class="modal-title">Delete user</h5>-->
<!--                                                            <button type="button" class="close"-->
<!--                                                                    data-dismiss="modal" aria-label="Close">-->
<!--                                                                <span aria-hidden="true">&times;</span>-->
<!--                                                            </button>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-body">-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-id" class="font-weight-bold">ID</label>-->
<!--                                                                <input id="delete-id" name="id" type="text" th:value="*{id}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-firstName" class="font-weight-bold">First Name</label>-->
<!--                                                                <input id="delete-firstName" name="firstName" type="text" th:value="*{firstName}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-lastName" class="font-weight-bold">Last Name</label>-->
<!--                                                                <input id="delete-lastName" name="lastName" type="text" th:value="*{lastName}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-age" class="font-weight-bold">Age</label>-->
<!--                                                                <input id="delete-age" name="age" type="text" th:value="*{age}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-email" class="font-weight-bold">Email</label>-->
<!--                                                                <input id="delete-email" name="username" type="text" th:value="*{username}"-->
<!--                                                                       class="form-control form-control-sm" disabled>-->
<!--                                                            </div>-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label for="delete-roles" class="font-weight-bold">Role</label>-->
<!--                                                                <select id="delete-roles" multiple class="form-control form-control-sm" name="roles" disabled>-->
<!--                                                                    <option th:each="role : *{roles}"-->
<!--                                                                            th:text="${#strings.replace(role.name,'ROLE_','')}"-->
<!--                                                                            th:value="${role.id}"-->
<!--                                                                    >roles</option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-footer">-->
<!--                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                            <button type="submit" class="btn btn-danger">Delete</button>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

    <!--                View кнопка "New User"-->
                    <div id="new-user-view"
                         aria-labelledby="new-user-button"
                         class="tab-pane fade"
                         role="tabpanel"
                    >
                        <div class="card">
                            <div class="card-header">
                                <h4>Add new user</h4>
                            </div>
                            <div class="container col-sm-5 card-body">
<!--                                <form th:action="@{/admin}" th:method="POST" th:object="${user}">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-first-name" class="font-weight-bold">First Name</label>-->
<!--                                        <input id="new-first-name" name="firstName" type="text" class="form-control form-control-sm" placeholder="first name">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-last-name" class="font-weight-bold">Last Name</label>-->
<!--                                        <input id="new-last-name" name="lastName" type="text" class="form-control form-control-sm" placeholder="last name">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-age" class="font-weight-bold">Age</label>-->
<!--                                        <input id="new-age" name="age" type="text" class="form-control form-control-sm" placeholder="age">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-email" class="font-weight-bold">Email</label>-->
<!--                                        <input id="new-email" name="username" type="text" class="form-control form-control-sm" placeholder="name@example.com">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-password" class="font-weight-bold">Password</label>-->
<!--                                        <input id="new-password" name="password" type="text" class="form-control form-control-sm" placeholder="password">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="new-roles" class="font-weight-bold">Role</label>-->
<!--                                        <select id="new-roles" name="roles" multiple class="form-control form-control-sm">-->
<!--                                            <option th:each="role : ${roles}"-->
<!--                                                    th:text="${#strings.replace(role.name,'ROLE_','')}"-->
<!--                                                    th:value="${role.id}"-->
<!--                                            >roles</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <button type="submit" class="btn btn-success">Add new user</button>-->
<!--                                    </div>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--        View кнопка "User"-->
            <div id="user-view"
                 aria-labelledby="user-view-button"
                 class="tab-pane fade"
                 role="tabpanel"
            >
                <h1>User information-panel</h1>

                <div class="card">
                    <div class="card-header">
                        <h4>About user</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="id-user-table-tr"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/processingAdminPage.js"></script>


<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>-->

<!-- Вариант 2: Отдельные JS для Popper и Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>