<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Привет, мир!</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark" th:object="${authUser}">
    <div class="navbar-brand">
        <a th:text="*{username}" style="font-weight: bold"></a>
        <a>with roles:</a>
        <a th:each="role : ${authUser.roles}">
            <th:block th:text="${#strings.replace(role.name,'ROLE_','')}"/>
        </a>
    </div>
    <form th:action="@{/authorization/logout}" th:method="POST">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <input class="btn nav-link" type="submit" value="Sign out">
            </li>
        </ul>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="h1 font-weight-bold">Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" aria-controls="users" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab" aria-controls="new-user" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <table class="table border">
                        <thead class="border">
                        <tr class="table-active">
                            <th scope="col">All Users</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">
                                <div class="container-fluid">
                                    <table class="table table-sm table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="font-weight-normal">
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.id}">ID</td>
                                            <td th:text="${user.firstName}">First Name</td>
                                            <td th:text="${user.lastName}">Last Name</td>
                                            <td th:text="${user.age}">Age</td>
                                            <td th:text="${user.username}">Email</td>
                                            <td>
                                                <div class="d-inline" th:each="role : ${user.roles}">
                                                    <p class="d-inline" th:text="${#strings.replace(role.getName(),'ROLE_','')}">Role</p>
                                                </div>
                                            </td>
                                            <td>
<!--                                                <a th:href="@{/admin/edit(id=${user.id})}">-->
<!--                                                    <button type="button" class="btn btn-info">Edit</button>-->
<!--                                                </a>-->
                                                <!-- Кнопка-триггер модального окна -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="${'#edit-user-modal' + user.id}">Edit</button>

                                                <!-- Модальное окно -->
                                                <div class="modal fade" th:id="${'#edit-user-modal' + user.id}" tabindex="-1" aria-labelledby="edit-user-modal-label" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="edit-user-modal-label">Заголовок модального окна</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
                                                                    <div class="form-group">
                                                                        <label for="edit-user-first-name">First Name</label>
                                                                        <input type="text" class="form-control" id="edit-user-first-name"
                                                                               th:field="*{firstName}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="edit-user-last-name">Last Name</label>
                                                                        <input type="text" class="form-control" id="edit-user-last-name"
                                                                               th:field="*{username}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="edit-user-age">Age</label>
                                                                        <input type="number" class="form-control" id="edit-user-age" th:field="*{age}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="edit-user-email">Email</label>
                                                                        <input type="email" class="form-control" id="edit-user-email" placeholder="name@example.com" th:field="*{username}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="edit-user-password">Password</label>
                                                                        <input type="password" class="form-control" id="edit-user-password" th:field="${user.password}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="edit-user-roles">Role</label>
                                                                        <select multiple class="form-control form-control-sm" id="edit-user-roles" th:field="${user.roles}">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:text="${#strings.replace(role.name,'ROLE_','')}"
                                                                                    th:value="${role.id}">roles
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div>
                                                                        <button type="submit" class="btn btn-success">Add new user</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                                <button type="button" class="btn btn-primary">Сохранить изменения</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <a th:href="@{/admin/delete(id=${user.id})}">
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                    <table class="table border">
                        <thead class="border">
                        <tr class="table-active">
                            <th scope="col">Add new user</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">
                                <div class="container col-sm-5">
                                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                        <div class="form-group">
                                            <label for="new-user-first-name">First Name</label>
                                            <input type="text" class="form-control" id="new-user-first-name" th:field="*{firstName}">
                                        </div>
                                        <div class="form-group">
                                            <label for="new-user-last-name">Last Name</label>
                                            <input type="text" class="form-control" id="new-user-last-name" th:field="*{lastName}">
                                        </div>
                                        <div class="form-group">
                                            <label for="new-user-age">Age</label>
                                            <input type="number" class="form-control" id="new-user-age" th:field="*{age}">
                                        </div>
                                        <div class="form-group">
                                            <label for="new-user-email">Email</label>
                                            <input type="email" class="form-control" id="new-user-email" placeholder="name@example.com" th:field="*{username}">
                                        </div>
                                        <div class="form-group">
                                            <label for="new-user-password">Password</label>
                                            <input type="password" class="form-control" id="new-user-password" th:field="*{password}">
                                        </div>
                                        <div class="form-group">
                                            <label for="new-user-roles">Role</label>
                                            <select multiple class="form-control form-control-sm" id="new-user-roles" th:field="*{roles}">
                                                <option th:each="role : ${roles}"
                                                        th:text="${#strings.replace(role.name,'ROLE_','')}"
                                                        th:value="${role.id}">roles
                                                </option>
                                            </select>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>

<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
-->

<!-- Вариант 2: Отдельные JS для Popper и Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>