<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<br>

<!--<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">-->
<!--    <input id="id" type="hidden" th:field="*{id}">-->
<!--    <label for="firstname">First Name:-->
<!--        <input id="firstname" type="text" th:field="*{firstName}" th:value="${user.getFirstName()}">-->
<!--    </label> <br>-->
<!--    <label for="lastname">Last Name:-->
<!--        <input id="lastname" type="text" th:field="*{lastName}" th:value="${user.getLastName()}">-->
<!--    </label> <br>-->
<!--    <label for="age">Age:-->
<!--        <input id="age" type="text" th:field="*{age}" th:value="${user.getAge()}">-->
<!--    </label> <br>-->
<!--    <label for="email">Email:-->
<!--        <input id="email" type="text" th:field="*{username}" th:value="${user.getUsername()}">-->
<!--    </label> <br>-->
<!--    <hr>-->
<!--    <input type="submit" value="Update">-->
<!--</form>-->
<!--<br>-->


<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input id="id" type="hidden" th:field="*{id}">
    <label for="username">Логин(email):
        <input id="username" type="email" th:field="*{username}">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</div>
    <br/>
    <label for="password">Пароль:
        <input id="password" type="hidden" th:field="*{password}">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${#strings.replace(role.getName(),'ROLE_','')}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>
    <hr>
    <a>Персональная информация</a> <br>
    <label for="firstname">Имя:
        <input id="firstname" type="text" th:field="*{firstName}">
    </label> <br>
    <label for="lastname">Фамилия:
        <input id="lastname" type="text" th:field="*{lastName}">
    </label> <br>
    <label for="age">Возраст:
        <input id="age" type="text" th:field="*{age}">
    </label> <br>
    <br/>
    <hr>
    <input type="submit" value="Создать">
</form>


</body>
</html>