<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<br>

<form name="f" th:method="POST" th:action="@{/admin/update}" th:object="${user}" style="display: table">
    <input id="id" type="hidden" th:field="*{id}">
    <p style="display: table-row">
        <label for="username" style="display: table-cell">Логин(email):</label>
        <input id="username" type="email" th:field="*{username}">
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</div>
    </p> <br/>

<!--    <p style="display: table-row">-->
<!--        <label for="password" style="display: table-cell"></label>-->
<!--        <input id="password" type="hidden" th:field="*{password}">-->
<!--        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>-->
<!--    </p>-->

    <p style="display: table-row">
        <label style="display: table-cell">Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${#strings.replace(role.getName(),'ROLE_','')}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>

    <hr>
    <a>Персональная информация</a> <br>

    <p style="display: table-row">
        <label for="firstname" style="display: table-cell">Имя:</label>
        <input id="firstname" type="text" th:field="*{firstName}">
    </p> <br>

    <p style="display: table-row">
        <label for="lastname" style="display: table-cell">Фамилия:</label>
        <input id="lastname" type="text" th:field="*{lastName}">
    </p> <br>

    <p style="display: table-row">
        <label for="age" style="display: table-cell">Возраст:</label>
        <input id="age" type="text" th:field="*{age}" style="display: table-cell">
    </p> <br>

    <hr>
    <input type="submit" value="Сохранить изменения">
</form>


</body>
</html>