<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<br>
<hr>

<a href="/admin">
    <input type="submit" value="Go to ADMIN">
</a>
<br><br><br>
<a href="/user">
    <input type="submit" value="Go to USER">
</a>
<br><br><br>

<hr>

<a href="/authorization/login">
    <input type="submit" value="Log in">
</a>
<br><br><br>
<a href="/authorization/registration">
    <input type="submit" value="Registration">
</a>

<hr>

<br><br>
<form th:action="@{/authorization/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>