<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form name="f" th:method="POST" th:action="@{/authorization/registration}" th:object="${user}" style="display: table">
    <p style="display: table-row">
        <label for="username" style="display: table-cell">Логин(email):</label>
        <input id="username" type="email" th:field="*{username}" placeholder="введите свой email">
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</div>
    </p> <br/>
    <p style="display: table-row">
        <label for="password" style="display: table-cell">Пароль:</label>
        <input id="password" type="text" th:field="*{password}" placeholder="придумайте пароль">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </p> <br/>
    <hr>
    <a style="display: table-row">Персональная информация</a> <hr>
    <p style="display: table-row">
        <label for="firstname" style="display: table-cell">Имя:</label>
        <input id="firstname" type="text" th:field="*{firstName}" placeholder="добавьте имя">
    </p> <br>
    <p style="display: table-row">
        <label for="lastname" style="display: table-cell">Фамилия:</label>
        <input id="lastname" type="text" th:field="*{lastName}" placeholder="добавьте фамилию">
    </p> <br>
    <p style="display: table-row">
        <label for="age" style="display: table-cell">Возраст:</label>
        <input id="age" type="text" th:field="*{age}" placeholder="добавьте возраст">
    </p> <br>
    <hr>
    <input type="submit" value="Зарегистрироваться">
</form>

</body>
</html>