<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/authorization/registration}" th:object="${user}">
    <label for="username">Логин(email):
        <input id="username" type="email" th:field="*{username}" placeholder="enter your email as a login">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</div>
    <br/>
    <label for="password">Пароль:
        <input id="password" type="password" th:field="*{password}" placeholder="come up with a password">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <hr>
    <a>Персональная информация</a> <br>
    <label for="firstname">Имя:
        <input id="firstname" type="text" th:field="*{firstName}" placeholder="enter the user first name">
    </label> <br>
    <label for="lastname">Фамилия:
        <input id="lastname" type="text" th:field="*{lastName}" placeholder="enter the user's last name">
    </label> <br>
    <label for="age">Возраст:
        <input id="age" type="text" th:field="*{age}" placeholder="enter the user's age">
    </label> <br>
    <br/>
    <hr>
    <input type="submit" value="Зарегистрироваться">
</form>

</body>
</html>